html { 
  height: 100%;

}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  height: 100%;
}

h1, h2, h3, h4 {
  font-weight: 400;
}

section#search-region {
  padding: 10px;  
}

img.icon {
  height: 100px;
}

section.home-ui {
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

input#username.form-control, input#room-num.form-control {
  width: 50%;
  margin: 0 auto;
}


section#content-region {
  
}

section#list-region {
  
}

section#info-region {
}


