html { 
  height: 100%;
}

section#content-region {
  
}

section#map-region {
  height: 500px;
}

section#list-region {
  
}

section#info-region {
}

section.home-ui {
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

input#username.form-control, input#room-num.form-control {
  width: 50%;
  margin: 0 auto;
}
